@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

#signup {
    position: absolute;
    top: 26px;
    right: 25px;
}

#signup a{
    color: white;
}

h1{
    position: relative;
    text-align: center;
    top: 60px;
    color: white;
}

h3{
    position: relative;
    text-align: center;
    top: 60px;
    color: white;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/index_image.png');
    background-size: cover;
    background-position: center;
    padding: 150px 0px;
    text-align: center;
    font-family: 'Poppins';
    margin: -8px;
    position: relative;
}

nav {
    width: 907px;
    margin: auto;
    padding: 105px
}

h2 {
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 235px;
    text-align: center;
    padding: 24px;
    margin: 8px; 
    height: 300px; 
    display: inline-block;
    vertical-align: top;
}

h2 img {
    width: 230px;
    height: 180px;
    object-fit: cover;
    border-radius: 4px; 
    padding: 25px 0px;
}

h2 a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #08517C;
    padding: 14px 28px;
    border-radius: 30px;
    font-weight: 300;
}

h2 a:hover {
    color: #BDCAD5;
}
